# URL base da API utilizada pelo frontend (Vite)
# Ajuste para o host/porta do seu backend local ou ambiente remoto.
VITE_API_URL=http://localhost:8080

# Habilita dados mockados no frontend (true/false)
VITE_USE_MOCK=true

# Habilita consumo do backend real (true/false)
VITE_USE_BACKEND=true
